h1 {
    color: #FF0000;
    font-size: 60px;
    text-align: center;}

p {
    font-size: 25px;
    font-family: sans-serif;
    line-height: 40px;
    letter-spacing: 3px;
    border-top: 1px solid #000;
}
